[data-theme='dark'] {
  --color-fill: #f4f4f4;
  --color-top-border: #474747;
}

[data-theme='light'] {
  --color-fill: #333333;
  --color-top-border: #dadada;

  & [data-theme-color='black'] {
    --color-top-border: #7a7a7a;
  }
}

[data-theme-color='black'] {
  --color-fill: #f4f4f4;
}

.toolbar {
  fill: var(--color-fill);
  border-top: 1px solid var(--color-top-border);
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);

  &.is-visible {
    transform: translateY(0);
  }

  & .wrapper {
    padding: 5px;
    max-width: 280px;
  }

  & .button {
    padding: 8px;
  }

  & .button:hover {
    background-color: var(--primary-theme-hover);
  }

  & .button[data-status='active'] {
    background-color: var(--primary-theme-hover);
  }

  & .icon {
    width: 20px;
    height: 14px;
  }
}

.note:focus-within .toolbar {
  opacity: 1;
  pointer-events: initial;
}
